/* You can add global styles to this file, and also import other style files */
:root {
  --sucess: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
}
.example-spacer {
  flex: 1 1 auto;
}